.vfrc-proactive-message {
    background-color: #e93d3c; /* Green background */
    color: #FFFF; /* White text */
  }

.vfrc-proactive-message {
  opacity: 0 !important;
  transition: all 0.5s ease-in-out;
}

.vfrc-widget--launcher:hover .vfrc-proactive-message {
  opacity: 1;
}
